// Set direction rtl
@import "_direction-rtl.scss";

// Bootstrap rtl
@import "../vendors/bootstrap-4.3.1/scss/bootstrap-rtl.scss"; 

// Font
$regular: 'source_serif_proregular';
$bold:    'source_serif_probold';
$boldi:   'source_serif_probold_italic';
// Font
$regular: 'DIN NEXTTM ARABIC REGULAR';
$bold:    'DIN NEXTTM ARABIC BOLD';
$boldi:   'DIN NEXTTM ARABIC BOLD';
//@font-face {
//    display-font: swap;
//    font-family: $bold;
//    src: url('../fonts/ar/DINNextLTW23-Regular.eot');
//    src: url('../fonts/ar/DINNextLTW23-Regular.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/ar/DINNextLTW23-Regular.woff2') format('woff2'),
//        url('../fonts/ar/DINNextLTW23-Regular.woff') format('woff'),
//        url('../fonts/ar/DINNextLTW23-Regular.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    display-font: swap;
//    font-family: $regular;
//    src: url('../fonts/ar/DINNextLTW23-Light.eot');
//    src: url('../fonts/ar/DINNextLTW23-Light.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/ar/DINNextLTW23-Light.woff2') format('woff2'),
//        url('../fonts/ar/DINNextLTW23-Light.woff') format('woff'),
//        url('../fonts/ar/DINNextLTW23-Light.ttf') format('truetype');
//    font-weight: 300;
//    font-style: normal;
//}

// Styles
@import "./import";
